body {
	margin: 0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	/* background-color: #f0f8ff; */
	background-color: antiquewhite;
	color: black;
}

a {
	text-decoration: none; /*텍스트 효과 없앰*/
	color: black;
}

img{
	width: 300px;
	height: 300px;
	overflow: hidden;
	object-fit: cover;
}

header{
	height: 30%;
}

main{
	/* display: flex; */
	/* max-width:1000px; */
	/* justify-content: center; 콘텐츠를 중앙에 보여줌 */
	/* align-items: flex-start; 박스를 시작점에서부터 배치 */
	margin: auto;
	height: 100vh;
}

main.home{
	padding-top: 3em;
	font-family: 'Kanit', sans-serif;
	
	display: block;
}

.bd {
	opacity: 0;
	transition: all 10s;
	/* flex-direction: column; */
}

.bd1 {
	float: left;
	margin-left: 200px;
}
h2.bd1{
	font-size: 100px;

	animation: move_txt 5s ease-in forwards;
}

.bd2{
	float: right;
}

#home_img{
	width: 500px;
	height: auto;
	animation: move 5s ease forwards;
}

@keyframes move{
	from{
		transform: translate(-1000px, 0);
	} 
	to{
		transform: translate(0, 0);
	}
}

@keyframes move_txt{
	from{
		transform: translate(1000px, 0);
	} 
	to{
		transform: translate(0, 0);
	}
}

main.about{
	/* justify-content: center;
	align-items: center; 
	flex-direction: column; */
	margin: 0 200px;
	display: flex;
}

main.time{
	max-width: 1000px;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
	
}

main.for{
	margin: 20px 200px;
}
main.shop{
	margin: 20px 200px;
}

#intro{
	padding-left: 1em;
	margin: 20px;
	/* display: inline; */
}
#intro ul {
	list-style: none;
}
#intro2{
	margin: 20px;
	float: right;
}
#intro2 ul {
	list-style: none;
}

article{
	justify-content: space-between;
	/*background-color: #fffacd;*/
}

section{
	align-items: center;
	/*background-color: #add8e6;*/
}
aside{
	float: right;
	max-width:500px;
	/*background-color: #6495ed;*/
}
.navbar {
	display: flex; /*모든 아이콘들을 한줄에 보여줌. flex box*/
	font-family: 'Kanit', sans-serif;
	justify-content: space-between;/*공간을 사이사ㅣ이 넣어줌*/
	align-items: center; /*align item을 수직정렬..?*/ 
	background: white;
	padding: 8px 12px; /*위 8 양옆 12*/
}

.nav_logo {
	font-size: 24px;
	color: navy;	
	padding-left: 1.5em;
}
.nav_menu {
	display: flex;
	list-style: none; /*기호 없앰*/
	padding-left: 0;
}
.nav_menu li{
	padding: 8px 12px;
}
.nav_menu li:hover{
	/* background-color: #f0f8ff; */
	background-color: #D2B48C;
	border-radius: 4px;
}
.nav_icon {
	color : black;
	display: flex;
	padding: 8px 12px; 
	text-align: center;
	font-size: 2rem;
}

.here {
	/* background-color: #f0f8ff; */
	background-color: #D2B48C;
	padding: 8px 12px;
	border-radius: 4px;
}
@media screen and (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 12px;
	}
	
	.nav_menu {
		width: 100%;
		text-align: center;
	}
	
	.nav_icon {
		justify-content: center;
		width: 100%;
	}
	.screen{
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 12px;
		justify-content: center;
	}
	main{
		flex-direction: column;
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: flex-start;
	}
	.intro_screen{
		width: 100%;
		text-align: center;
		
	}
	
	article{
		width: 100%;
		align-items: flex-start;
		justify-content: center;
	}
	section{
		justify-content: center;
	}

	h2.bd1{
		font-size: 50px;
		align-items: flex-start;
		justify-content: center;
	}

	#home_img{
		width: 400px;
	}
}


.screen{
	display:flex;
}
.img_sec{
	/*background-color: #FFFF00;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;}
.img_sec img {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}
	
#youtube_sec{
	flex:none;
}

#img_src_bg{
	flex-wrap: wrap;
	max-width:500%;
	justify-content:space-between;
	align-items: center;
}
#img_src_bg img{
	max-width:20%
}

.about_list{
	flex-wrap:wrap;
}

.list_time{
	list-style: circle;
}
.disqus{
	justify-content: center;
	padding : 1em;
}